/* ? MOBILE */
#root {
  min-width: 100svw;
  text-align: center;
}

#app {
  min-width: 100svw;
  min-height: 100svh;
  text-align: center;
}

/* ? TABLET */
@media (min-width: 480px) {


}


/* ? PC */
@media (min-width: 1024px) {


}