/* import '../../styles/Contact.css' */

/* ? MOBILE */

#dashboard{
  min-width: 100%;
  min-height: 130svh;
  padding: 5%;
}

#dashboard a:hover {
  color: var(--green10-color);
}

#dashboard-panel{
  border-radius: 10px;
  height: 150px;
  width: clamp(50%, 80%,90%);
  overflow: hidden;
  border: 2px solid var(--green10-color);
  transition: 0.2s;
  position: relative;
}

#dashboard-panel::before{
  content: "";
  position: absolute;
  background-image: url(../assets/panel1.png);
  background-position: center;
  background-size: cover;  
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  filter: brightness(0.7);
  transition: 0.1s;
}

#dashboard-panel:hover::before{
  filter: brightness(0.8);
  transition: 0.1s;
}

#dashboard-panel:hover{
  color: white !important;
  border: 5px solid var(--green10-color);
  transition: 0.1s;
}

#dashboard-panel img{
  width: 100%;
}

#dashboard-panel h2{
  font-family: 'Rubik';
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#dashboard-panel h2:hover{
  color: white;
  font-size: 1.6rem;
  transition: 0.2s;
}

#dashboard-most {
  border-radius: 10px;
  height: 100px;
  background-color: var(--light-color);
  padding: 5px;
}

#dashboard-most img{
  filter: brightness(0.8);
  transition: 0.1s;
}

#dashboard-most img:hover{
  filter: brightness(1);
  transition: 0.1s;
}

#dashboard-most a:hover{
  color: white;
  filter: brightness(1);
}

#dashboard-most .most-container{
  position: relative;
  aspect-ratio: 1;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

#dashboard-most .most-container h5{
  position: absolute;
  display: flex;
  top:40%;
  justify-content: center;
  align-items: center;
}

#dashboard-profile{
  display: flex;
  flex-direction: column;
  

  border-radius: 10px;
  background-color: var(--light-color);
  padding: 10px;
  transition: 0.2s;
}

#dashboard-profile .title{
  display: flex;
  flex-direction: row;
}

#dashboard-profile .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap:20px
}

#dashboard-profile:hover{
  transform: translateY(-2px);
  /* box-shadow: 0px 0px 10px 2px var(--light-color); */
  transition: 0.5s;
}

#dashboard-profile img{
  width: 50%;
  aspect-ratio: 1/1;
  max-width: 100px;
  object-fit: cover;
  display: block;
  border-radius: 50%;
  border: 2px solid var(--background-color);
}

#dashboard-profile .container div:nth-child(1) #progress{
  background: repeating-linear-gradient(60deg, var(--green30-color), var(--green30-color) 20px, var(--green20-color) 20px, var(--green20-color) 40px);
}

#dashboard-profile .container div:nth-child(2) #progress{
  background: repeating-linear-gradient(60deg, rgb(26, 74, 125), rgb(26, 74, 125) 20px, rgb(45, 108, 159) 20px, rgb(45, 108, 159) 40px);
}

#dashboard-profile .container div:nth-child(3) #progress{
  background: repeating-linear-gradient(60deg, rgb(121, 121, 121), rgb(121, 121, 121) 20px, rgb(68, 68, 68) 20px, rgb(68, 68, 68) 40px);
}

/* ? TABLET */
@media (min-width: 480px) {

  #dashboard{
    min-height: 95svh;
  }

  #dashboard-profile{
    display: flex;
    flex-direction: row;
  }

  #dashboard-profile .title{
    display: flex;
    flex-direction: column;
  }

  #dashboard-profile .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap:20px
  }
  

  #dashboard-panel{
    height: 150px;
  } 
}


/* ? PC */
@media (min-width: 1024px) {


}