/* import '../../styles/Contact.css' */

/* ? MOBILE */

#deck-learn{
  min-width: 100%;
  min-height: 95svh;
  padding: 5%;
}

#deck-learn-container{
  position: relative;
  background-color: var(--light-color);
  border-radius: 10px;
  padding: 10px;
}

#card-container>img{
  width: 10%;
}

#progress-bar{
  border: 2px solid var(--dark-color);
  width: 200px;
  height: 20px;
  background-color: var(--green60-color);
  border-radius: 20px;
  overflow: hidden;
}

#progress{
  height: 20px;
  background-color: var(--green30-color);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: 1s;
}

.flip-card {
  background-color: red;
  width: 250px;
  height: 350px;
  perspective: 10 px;
  border-radius: 10px;
}

.flip-card[swift='left']{
  animation: swift-left 1s 1;
}

.flip-card[swift='right']{
  animation: swift-right 1s 1;
}

@keyframes swift-left {
  0% {
    transform: translateX(0px); 
    opacity: 1;

  }
  100% {
    transform: translateX(-15px);
    opacity: 0;
  }
}

@keyframes swift-right {
  0% {
    transform: translateX(0px); 
    opacity: 1;
  }
  100% {
    transform: translateX(15px);
    opacity: 0;
  }
}


.flip-card-inner {
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
} */

.flip {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  
  background-color: var(--utils20-color);
  color: black;
}

.flip-card-front img, .flip-card-back img{
  width: 50%;
  border-radius: 10px;
}

.flip-card-back {
  background-color: var(--utils30-color);;
  color: white;
  transform: rotateY(180deg);
}

#deck-learn button{
  height: 40px;
  width: 80px;
}

#deck-learn div:nth-child(1) button{
  background-color: rgba(69, 0, 94, 0.544);
  transition: 0.2s;
}
#deck-learn div:nth-child(1) button:hover{
  background-color: rgba(42, 0, 57, 0.67);
  transform: translateY(-2px);
  transition: 0.2s;
}


#deck-learn div:nth-child(2) button{
  background-color: var(--light-color);
  transition: 0.2s;
}
#deck-learn div:nth-child(2) button:hover{
  background-color: var(--dark-color);
  transform: translateY(-2px);
  transition: 0.2s;
}


#buttons div:nth-child(3) button{
  background-color: var(--green20-color);
  transition: 0.2s;
}

#deck-learn div:nth-child(3) button:hover{
  background-color: var(--green30-color);
  transform: translateY(-2px);
  transition: 0.2s;
}

#deck-learn button:active{
  box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.4);
  transition: 0.2s;
}

#buttons p{
  font-size: 0.8rem;
  color: var(--light-color);
}

#languages-select {
  position: absolute;
  right: 10px;
  top: 10px;
}

#languages-select label div{
  width: 30px;
  height: 30px;
}

.arrow-color{
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(13%) sepia(30%) saturate(1419%) hue-rotate(93deg) brightness(97%) contrast(98%);
  transition: 0.2s;
}

.arrow-color:hover{
  filter:brightness(0.6) saturate(100%) invert(13%) sepia(30%) saturate(1419%) hue-rotate(93deg) brightness(37%) contrast(98%);
  transform: translateY(-2px);
  transition: 0.2s ease-in;
}

.congrats {
  /* Basic dimensions and centering */
  /* width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; */
  
  /* Dark mode colors and gradient */
  background: #6fb83a; /* Fallback for browsers that don't support gradients */
  background: linear-gradient(
    135deg,
    #49a805 25%, 
    #6fb83a 25%,
    #6fb83a 50%,
    #49a805 50%,
    #49a805 75%,
    #6fb83a 75%,
    #6fb83a
  );
  background-size: 40px 40px;

  /* Animation */
  animation: move 1s linear infinite;
  background-clip: text;
  color: transparent;
  font-size: 3rem;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}


/* ? TABLET */
@media (min-width: 480px) {

  #deck-learn{
    min-width: 100%;
    min-height: 100svh;
    padding: 5% 15%;
  }

  
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 350px;
  perspective: 1000px;
}

  
#card-container>img{
  width: 5%;
}

}


/* ? PC */
@media (min-width: 1024px) {


}