/* ? MOBILE */

#deck-details{
  min-width: 100%;
  min-height: 100svh;
  padding: 10%;
}

#deck-details .deck-img{
  border-radius: 10px;
  width: clamp(50px, 25%, 200px);
}

#deck-info{
  background-color: var(--light-color);
  border-radius: 10px;
  padding: 10px;
}

#deck-tags{
  padding: 0 5px;
}

#deck-info a img{
  width: 20px;
  text-decoration: none;
}
#deck-info a img:hover{
  filter: invert(40%) sepia(31%) saturate(799%) hue-rotate(65deg) brightness(96%) contrast(90%);
}

#deck-info p{
  font-size: 0.8rem;
  text-align: left;
}

/* ? TABLET */
@media (min-width: 480px) {

  #deck-details{
    padding: 5% 10%;
  }

}


/* ? PC */
@media (min-width: 1024px) {


}