/* import '../../styles/Contact.css' */

/* ? MOBILE */

#flashcard-bg{
  position: fixed;
  min-width: 100svw;
  min-height: 100svh;
  top: 0;
  left:0;
  border: 2px solid blueviolet;
  background-color: transparent;
  place-content: center;
  backdrop-filter: blur(5px);
  z-index: 2;
}

#flashcard-create, #flashcard-details {
  position: relative;
  margin: 0 5%;
  border: 3px solid var(--green20-color);
  box-shadow: 0px 0px 2px 2px var(--dark-color);
  border-radius: 5px;
  background-color: var(--secondary-color);
  padding: 10px 30px;
}

#profile-img {
  position: relative;
  background: url(../assets/profile.svg);
  background-color: var(--light-color);
  width: 30%;
  max-width: 100px;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 5px;
}

#profile-img img {
  /* width: 100%; */
  object-fit:contain;
  object-position: center;
  position: relative;
}

#upload-btn {
  position: absolute;
  cursor: pointer !important;
  bottom: 0;
  right: 0;
  width: 20px;  /* Fija el ancho del div */
  height: 20px;  /* Fija la altura del div */
  background-color: var(--light-color);
  backdrop-filter: blur(2px);
  background-image: url(../assets/upload.svg);
  border-radius: 5px;
  z-index: 1;
  transition: 0.1s;
}

#upload-btn:hover{
  filter: brightness(1.5);
  transition: 0.1s;
}

#input-btn {
  cursor: pointer !important;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

input[name="cardName"] {
  background-color: var(--background-color);
  border: none;
  border-radius: 3px;
  font-size: 1.2rem;
  width: 50%;
}

#flashcard-create label{
  color: var(--background-color)
}

#flashcard-details label{
  color: var(--background-color)
}

textarea{
  background-color: var(--background-color);
  border: none;
  border-radius: 3px;
  padding: 2%;
  font-size: 0.8rem;
  width: 50%;
  color: var(--text-color);
  font-family: 'Rubik';
}

select{
  background-color: var(--background-color);
  border: none;
  border-radius: 3px;
  font-size: 0.8rem;
  width: 50%;
  color: var(--text-color);
  font-family: 'Rubik';
}

#new-translation input[type="text"] {
  width: 50%;
}

#new-translation button{
  border: 2px solid var(--light-color);
  background-color: var(--background-color);
  font-weight: bold;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
}

.flags{
  width: 15px;
}

#add-btn{
  border: 2px solid var(--light-color);
  background-color: var(--dark-color);
  font-weight: bold;
  padding: 0 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* ? TABLET */
@media (min-width: 480px) {

  #flashcard-create, #flashcard-details {
    max-width: 50%;
  }
  

}


/* ? PC */
@media (min-width: 1024px) {


}