/* import '../../styles/Contact.css' */

/* ? MOBILE */

#home{
  min-width: 100%;
  min-height: 95svh;
  padding: 5%;
}

#home *{
  z-index: 1;
}

#home img{
  width: 200px;
  z-index: 0;
}

#home a{
  margin: 10px 0;
  font-family: 'Rubik';
  padding: 5px 15px;
  border: none;
  border-radius: 10px;
  background-color: var(--green30-color);
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;

}
#home a:hover{
  background-color: var(--green40-color);
  cursor: pointer;
  transition: 0.3s;
}

#home h1{
  line-height: 2rem;
  width: 70%;
  text-align:left;
}

#home p{
  line-height: 2rem;
  width: 90%;
  text-align:left;
}


/* ? TABLET */
@media (min-width: 480px) {

  #home{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  #home img{
    width: 400px;
    z-index: 0;
  }

}


/* ? PC */
@media (min-width: 1024px) {

  #home img{
    width: 500px;
    z-index: 0;
  }
}