/* ? MOBILE */

#library{
  min-width: 100%;
  min-height: 95svh;
  padding: 5%;
}

#library #my-decks-card {
  position: relative;
}

#library #my-decks-card:hover {
  position: relative;
  box-shadow: 0px 0px 10px 2px var(--light-color);
}

a{
  text-decoration: none;
}

#library #my-decks-card button{
  position: absolute;
  top:0;
  left: 0;
  padding: 0;
  background-color: transparent;
}

#library #my-decks-card img:not(.deck-img){
  width: 20px;
  min-width: 5px;

}

#languages-list img{
  width: 15px !important;
}


/* ? TABLET */
@media (min-width: 480px) {

  #library{
    min-height: 100svh;
  }

}


/* ? PC */
@media (min-width: 1024px) {


}