/* import '../../styles/Contact.css' */

/* ? MOBILE */

#library{
  min-width: 100%;
  min-height: 95svh;
  padding: 5%;
  border: 2px dotted red;
  background-color: var(--background-color);
}


/* ? TABLET */
@media (min-width: 480px) {


}


/* ? PC */
@media (min-width: 1024px) {


}